.table {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "player1 player1 player2 player2 topspace player3 player3 player4 player4"
    "player5 table table table table table table table player6"
    "player7 player7 player7 player8 player8 player8 player9 player9 player9";
}
