.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
	&.position1 {
		grid-area: 1 / 2 / 2 / 3;
	}
	&.position2 {
		grid-area: 1 / 5 / 2 / 6;
	}
	&.position3 {
		grid-area: 1 / 8 / 2 / 9;
	}
	&.position4 {
		grid-area: 1 / 11 / 2 / 12;
	}
	&.position5 {
		grid-area: 5 / 3 / 6 / 4;
	}
	&.position6 {
		grid-area: 5 / 10 / 6 / 11;
	}
	&.position7 {
		grid-area: 3 / 12 / 4 / 13;
	}
	&.position8 {
		grid-area: 3 / 1 / 4 / 2;
  }
  img {
    max-width: 50%;
  }
}
